@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,400italic);
@import url(https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700);

/* Reset */
ul, ol {
  list-style: none;
}

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dt, dd, figure, figcaption {
  margin: 0;
  padding: 0;
}

header, section, article, nav, footer, hgroup, details, summary, figure {
  display: block;
}

/* Generic */
body {
  font-size: 15px;
  color: #222222;
  font-family: Roboto;
  margin: 0 0 65px;
}

/* Login */
.flex-container {
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  width: auto;
}

.flex-item {
  background-color: tomato;
  padding: 5px;
  width: 20px;
  height: 20px;
  margin: 10px;
  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.login-form input, .login-form button {
  display: block;
}

.login-form input {
  width: 300px;
  padding: 5px 8px;
  margin-bottom:10px
}

.login-form button {
  padding: 5px 8px;
}

.formErrors p {
  color: red;
  margin: 10px 0 12px 0;
}

/* NavBar */
header {
  background: #f57011;
  height: 47px;
  padding-top: 8px;
}

header nav {
  width: 88%;
  margin: 0 auto;
}

header h1 a {
  font-size: 28px;
  font-family: "Maven Pro";
  font-weight: 500;
  color: white;
  text-decoration: none;
}

header h1 a:hover {
  text-decoration: underline;
}

header span{
  float: right;
  margin-top: 8px;
  color: white;
}

header span a {
  color: white;
  margin-left: 6px;
}

.logoutButton {
  margin-left: 12px;
}

/* Events List */
section {
  margin: 0 auto;
  width: 88%;
}

.events-container {
  margin: 30px 75px 0 0;
  width: 25%;
  background: #f6f6f6;
  float: left;
  padding: 15px 20px 20px;
}

h2{
  font-size: 20px;
}

h2 a{
  color: #236fff;
  font-size: 15px;
  float: right;
  font-weight: normal;
  margin: 3px 0 0 0;text-decoration: none;
}

h2 a:hover{
  text-decoration: underline;
}

input.search{
  width: 97%;
  margin: 15px 0;
  padding: 2px 0 3px 3px;
}

.events-list li:hover, li.active {
  background: #f8e5ce;
}

.events-list a{
  display: block;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #dddddd;
  padding: 8px 6px 10px;
  cursor: pointer;
  outline: 0;
}

/* Event Container */
.event-container{
  margin-top: 35px;
}

.event-container h2{
  font-size: 26px;
  margin-bottom: 15px;
}

.event-container ul li{
  margin-bottom: 15px;
}

.event-container h2 a{
  float: none;
  padding-left: 15px;
}

/* Edit */
label {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 100px;
  margin-right: 6px;
  padding-top: 3px;
}

input, textarea {
  padding: 2px 0 3px 3px;
  width: 400px;
  margin-bottom: 10px;
}

button[type='submit'] {
  background: #f57011;
  border: none;
  padding: 5px 25px 8px;
  font-weight: 500;
  color: white;
  cursor: pointer;
  margin-right: 12px;
}

.form-actions{
  float: left;
  margin-left: 106px;
  margin-top: 12px;
}
